# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\md2\MD2-doc_file.csv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
